---
import { CollectionEntry, getCollection } from 'astro:content';
import Services from '../../layouts/Services.astro';

export async function getStaticPaths() {
	const posts = await getCollection('services');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'services'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Services {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</Services>
