<div class="bg-white px-6 py-32 lg:px-8">
    <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">What Information Do We Collect?</h2>
    <p class="mt-6">We collect personal information that you voluntarily provide to us when registering at the website cassyork.com, expressing an interest in obtaining information about us or our products and services, when participating in activities on cassyork.com or otherwise contacting us.</p>

    <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">How Do We Use Your Information?</h2>
    <p class="mt-6">We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.</p>
  
    <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Will Your Information be Shared with Anyone?</h2>
    <p class="mt-6">We only share and disclose your information in the following situations: compliance with Laws, business transfers, vendors, consultants and other third-party service providers.</p>
  
    <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">How Do We Keep Your Information Safe?</h2>
    <p class="mt-6">We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process.</p>

    <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Do We Collect Information from Minors?</h2>
    <p class="mt-6">We do not knowingly collect data from or market to children under 18 years of age.</p>
  
    <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Changes to this Privacy Policy</h2>
    <p class="mt-6">We may update this privacy policy from time to time. The updated version will be indicated by an updated "Revised" date and the updated version will be effective as soon as it is accessible.</p>

    <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Contact Us</h2>
    <p class="mt-6">If you have questions or comments about this policy, you may contact our Data Protection Officer (DPO) by email at DPO@cassyork.com, or by post to:</p>
    <p class="mt-8">Cass&York, [Re: Data Protection Officer], [your complete address].</p>
</div>

  </div>
  