---
import AddOns from "../components/AddOns.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---


<Header />

<div class="relative isolate overflow-hidden bg-white  -z-10  py-24 -mt-20 sm:py-48">
    <div class="absolute -top-80 left-[max(6rem,33%)] -z-10 transform-gpu blur-3xl sm:left-1/2 md:top-20 lg:ml-20 xl:top-3 xl:ml-56" aria-hidden="true">
      <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(63.1% 29.6%, 100% 17.2%, 76.7% 3.1%, 48.4% 0.1%, 44.6% 4.8%, 54.5% 25.4%, 59.8% 49.1%, 55.3% 57.9%, 44.5% 57.3%, 27.8% 48%, 35.1% 81.6%, 0% 97.8%, 39.3% 100%, 35.3% 81.5%, 97.2% 52.8%, 63.1% 29.6%)"></div>
    </div>
    <div class="mx-auto max-w-8xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Security</h1>
          <p class="mt-6 text-xl leading-8 text-gray-700">TecPlus drives innovation by providing cutting-edge software solutions. Our focus on design systems, product development, and API platform development has earned us recognition in the tech industry across the United States.</p>
        </div>
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:mt-10 lg:max-w-none lg:grid-cols-12">
          <div class="relative lg:order-last lg:col-span-5">
            <svg class="absolute -top-[40rem] left-1 -z-10 h-[64rem] w-[175.5rem] -translate-x-1/2 stroke-gray-900/10 [mask-image:radial-gradient(64rem_64rem_at_111.5rem_0%,white,transparent)]" aria-hidden="true">
              <defs>
                <pattern id="e87443c8-56e4-4c20-9111-55b82fa704e3" width="200" height="200" patternUnits="userSpaceOnUse">
                  <path d="M0.5 0V200M200 0.5L0 0.499983" />
                </pattern>
              </defs>
              <rect width="100%" height="100%" stroke-width="0" fill="url(#e87443c8-56e4-4c20-9111-55b82fa704e3)" />
            </svg>
            <figure class="border-l border-indigo-600 pl-8">
              <blockquote class="text-xl font-semibold leading-8 tracking-tight text-gray-900">
                <p>“TecPlus has been a game changer in our software development. They've empowered us with cutting-edge technologies that have helped accelerate our digital transformation journey.”</p>
              </blockquote>
              <figcaption class="mt-8 flex gap-x-4">
                <img src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="mt-1 h-10 w-10 flex-none rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                  <div class="font-semibold text-gray-900">John Doe</div>
                  <div class="text-gray-600">@johndoe</div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="max-w-xl text-base leading-7 text-gray-700 lg:col-span-7">
            <p>We bring a unique approach to software development, combining our expertise in UX/UI design, open source software, and a range of technologies including Node.js, React, TypeScript, and GraphQL.</p>
            <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">API Development.</strong> We build robust and scalable APIs to ensure your applications are always running at their best.</span>
              </li>
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">UX/UI Design.</strong> Our design teams create user-centric designs, ensuring your software solutions are both functional and aesthetically pleasing.</span>
              </li>
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                  <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">Software Testing.</strong> We ensure your application's stability with our comprehensive software testing and quality assurance services.</span>
              </li>
            </ul>
            <p class="mt-8">At Tec Plus, we believe in delivering software solutions that not only meet but exceed your expectations. We strive to provide unparalleled customer service and state-of-the-art technology in every project we undertake.</p>
            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Solutions tailored to your needs</h2>
            <p class="mt-6">We understand that every business is unique. That's why we tailor our software solutions to suit your specific business requirements. Whether you need a simple mobile app or a complex web-based system, we have the skills and expertise to deliver a solution that works for you.</p>
          </div>
        </div>
      </div>
      
  </div>
  


  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-8xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-4">
          <div class="relative overflow-hidden rounded-3xl bg-gray-900 px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10">
            <img class="absolute inset-0 h-full w-full object-cover brightness-125 saturate-0" src="https://images.unsplash.com/photo-1630569267625-157f8f9d1a7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2669&q=80" alt="">
            <div class="absolute inset-0 bg-gray-900 mix-blend-multiply"></div>
            <div class="absolute left-1/2 top-1/2 -ml-16 -translate-x-1/2 -translate-y-1/2 transform-gpu blur-3xl" aria-hidden="true">
              <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-40" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <figure class="relative isolate">
              <svg viewBox="0 0 162 128" fill="none" aria-hidden="true" class="absolute -left-2 -top-4 -z-10 h-32 stroke-white/20">
                <path id="0ef284b8-28c2-426e-9442-8655d393522e" d="M65.5697 118.507L65.8918 118.89C68.9503 116.314 71.367 113.253 73.1386 109.71C74.9162 106.155 75.8027 102.28 75.8027 98.0919C75.8027 94.237 75.16 90.6155 73.8708 87.2314C72.5851 83.8565 70.8137 80.9533 68.553 78.5292C66.4529 76.1079 63.9476 74.2482 61.0407 72.9536C58.2795 71.4949 55.276 70.767 52.0386 70.767C48.9935 70.767 46.4686 71.1668 44.4872 71.9924L44.4799 71.9955L44.4726 71.9988C42.7101 72.7999 41.1035 73.6831 39.6544 74.6492C38.2407 75.5916 36.8279 76.455 35.4159 77.2394L35.4047 77.2457L35.3938 77.2525C34.2318 77.9787 32.6713 78.3634 30.6736 78.3634C29.0405 78.3634 27.5131 77.2868 26.1274 74.8257C24.7483 72.2185 24.0519 69.2166 24.0519 65.8071C24.0519 60.0311 25.3782 54.4081 28.0373 48.9335C30.703 43.4454 34.3114 38.345 38.8667 33.6325C43.5812 28.761 49.0045 24.5159 55.1389 20.8979C60.1667 18.0071 65.4966 15.6179 71.1291 13.7305C73.8626 12.8145 75.8027 10.2968 75.8027 7.38572C75.8027 3.6497 72.6341 0.62247 68.8814 1.1527C61.1635 2.2432 53.7398 4.41426 46.6119 7.66522C37.5369 11.6459 29.5729 17.0612 22.7236 23.9105C16.0322 30.6019 10.618 38.4859 6.47981 47.558L6.47976 47.558L6.47682 47.5647C2.4901 56.6544 0.5 66.6148 0.5 77.4391C0.5 84.2996 1.61702 90.7679 3.85425 96.8404L3.8558 96.8445C6.08991 102.749 9.12394 108.02 12.959 112.654L12.959 112.654L12.9646 112.661C16.8027 117.138 21.2829 120.739 26.4034 123.459L26.4033 123.459L26.4144 123.465C31.5505 126.033 37.0873 127.316 43.0178 127.316C47.5035 127.316 51.6783 126.595 55.5376 125.148L55.5376 125.148L55.5477 125.144C59.5516 123.542 63.0052 121.456 65.9019 118.881L65.5697 118.507Z" />
                <use href="#0ef284b8-28c2-426e-9442-8655d393522e" x="86" />
              </svg>
              <img src="https://tailwindui.com/img/logos/workcation-logo-white.svg" alt="" class="h-12 w-auto">
              <blockquote class="mt-6 text-xl font-semibold leading-8 text-white">
                <p>“Amet amet eget scelerisque tellus sit neque faucibus non eleifend. Integer eu praesent at a. Ornare arcu gravida natoque erat et cursus tortor.”</p>
              </blockquote>
              <figcaption class="mt-6 text-sm leading-6 text-gray-300"><strong class="font-semibold text-white">Judith Rogers,</strong> CEO at Workcation</figcaption>
            </figure>
          </div>
        </div>
        <div>
            <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
              <p class="text-base font-semibold leading-7 text-indigo-600">Company values</p>
              <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Building Next-Gen Tech Solutions</h1>
              <div class="max-w-xl">
                <p class="mt-6">TecPlus is focused on empowering businesses with innovative tech solutions. We believe that technology has the power to transform every aspect of our lives and we are committed to making this transformation possible for businesses.</p>
                <p class="mt-8">Our team of experts collaborates with businesses to understand their challenges and offers customized solutions to help them overcome these hurdles. We leverage state-of-the-art technologies to build scalable, robust, and efficient solutions for our clients.</p>
                <p class="mt-8">Customer satisfaction is at the heart of everything we do at TecPlus. We strive to exceed our client’s expectations and provide them with the best possible services and solutions. Our dedicated customer support team is always ready to help our clients at every step of their journey with us.</p>
              </div>
            </div>
            <dl class="mt-10 grid grid-cols-2 gap-8 border-t border-gray-900/10 pt-10 sm:grid-cols-4">
              <div>
                <dt class="text-sm font-semibold leading-6 text-gray-600">Founded</dt>
                <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">2020</dd>
              </div>
              <div>
                <dt class="text-sm font-semibold leading-6 text-gray-600">Employees</dt>
                <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">80</dd>
              </div>
              <div>
                <dt class="text-sm font-semibold leading-6 text-gray-600">Countries</dt>
                <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">15</dd>
              </div>
              <div>
                <dt class="text-sm font-semibold leading-6 text-gray-600">Raised</dt>
                <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">$50M</dd>
              </div>
            </dl>
            <div class="mt-10 flex">
              <a href="#" class="text-base font-semibold leading-7 text-indigo-600">Learn more about TecPlus <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
          
      </div>
    </div>
  </div>
  
  <AddOns />


  <CTA />



  
  
<Footer />