<div
    class="rounded-lg h-full p-8 relative bg-neutral-900 transition-colors duration-700 box_box-bg__2JpDI"
    style="background-image: radial-gradient(199.49% 100% at 48.99% 0%, transparent 59.9%, rgb(134, 191, 242) 84.83%, rgb(255, 255, 255) 100%); border-radius: 0px;"
>
    <p class="uppercase text-xs tracking-[3px] mb-1 z-10 relative text-white">
        instant ml
    </p><p class="text-2xl mb-2 font-aeonik z-10 relative">Vision</p><p
        class="mb-8 z-10 relative text-white/70"
    >
        Image classification, segmentation, and detection, fine-tuned on your
        image data.
    </p><div
        class="flex flex-nowrap relative z-10 bg-black/90 rounded-lg w-[632px]"
    >
        <div class="rounded-l-lg bg-black/50 p-3 xl:p-5">
            <button
                tabindex="-1"
                class="flex items-center rounded-md text-[10px] py-1 px-2 border border-white/20 mb-4 xl:mb-6"
                ><svg
                    class="inline"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="17"
                    fill="none"
                    ><path
                        fill="#fff"
                        fill-rule="evenodd"
                        d="m14.003 7.237-.406 5.27a.75.75 0 0 1-.749.692H3.162a.75.75 0 0 1-.749-.693l-.406-5.269a.5.5 0 0 1 .5-.538h10.997a.5.5 0 0 1 .499.538ZM13.505 5.2v.75a.25.25 0 0 1-.25.25h-10.5a.25.25 0 0 1-.25-.25v-2.25a.5.5 0 0 1 .5-.5h2.836a1 1 0 0 1 .707.293l.914.914a1 1 0 0 0 .707.293h4.836a.5.5 0 0 1 .5.5Z"
                        clip-rule="evenodd"></path></svg
                ><span class="whitespace-nowrap ml-2 mr-4 leading-6 font-medium"
                    >NYC Taxis Demo</span
                ><svg
                    width="7"
                    height="4"
                    viewBox="0 0 7 4"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        d="M3.33329 3.19336L0.446542 0.193359L6.22004 0.193359L3.33329 3.19336Z"
                        fill="#D9D9D9"></path></svg
                ></button
            ><button
                tabindex="-1"
                class="flex leading-6 items-center rounded-md mb-1 xl:mb-2 text-[10px] w-full font-medium"
                ><svg
                    width="18"
                    height="19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M10.414 6.39a.289.289 0 0 1-.23-.456l1.965-2.806a.28.28 0 0 1 .46 0l1.966 2.806a.289.289 0 0 1-.23.456h-1.402v1.596c0 .752-.855 2.02-1.386 2.551l-1.495 1.495a1.677 1.677 0 0 0-.494 1.193v1.6a.562.562 0 1 1-1.125 0v-1.6a1.677 1.677 0 0 0-.494-1.193l-1.494-1.495c-.532-.53-1.387-1.8-1.387-2.55V6.39H3.663a.289.289 0 0 1-.23-.456L5.4 3.128a.28.28 0 0 1 .46 0l1.966 2.806a.289.289 0 0 1-.23.456H6.193v1.596c0 .448.177.878.495 1.193l2.057 2.057c.094.096.181.198.26.306.08-.108.168-.21.262-.306l2.057-2.057c.318-.315.496-.745.494-1.193V6.39h-1.404Z"
                        fill="#fff"
                        opacity=".5"></path></svg
                ><span class="ml-2">Branches</span></button
            ><button
                tabindex="-1"
                class="flex leading-6 items-center rounded-md mb-1 xl:mb-2 text-[10px] w-full font-medium"
                ><svg
                    width="18"
                    height="19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M4.5 3.006c.31 0 .562.252.562.562v6.854a1.678 1.678 0 0 1 0 3.168v1.228a.563.563 0 0 1-1.125 0V13.59a1.678 1.678 0 0 1 0-3.168V3.568c0-.31.252-.562.563-.562Zm4.5 0c.31 0 .562.252.562.562v1.229a1.678 1.678 0 0 1 0 3.168v6.853a.563.563 0 0 1-1.125 0V7.965a1.678 1.678 0 0 1 0-3.168V3.568c0-.31.252-.562.563-.562Zm4.5 0c.31 0 .563.252.563.562V7.61a1.678 1.678 0 0 1 0 3.169v4.04a.563.563 0 0 1-1.126 0v-4.04a1.678 1.678 0 0 1 0-3.169V3.57c0-.311.252-.563.563-.563Z"
                        fill="#fff"
                        opacity=".5"></path></svg
                ><span class="ml-2">Task Setup</span></button
            ><button
                tabindex="-1"
                class="flex leading-6 items-center rounded-md mb-1 xl:mb-2 text-[10px] w-full font-medium"
                ><svg
                    width="18"
                    height="19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M10.277 12.002c.628.262 1.28.464 1.947.603a1.12 1.12 0 0 1 1.871-.163.661.661 0 0 0 .149-.173c.228-.4.003-1.021-.552-1.733a.28.28 0 0 1 .035-.375c.116-.109.229-.219.34-.33a.283.283 0 0 1 .428.029c.87 1.147 1.2 2.229.774 2.968a1.67 1.67 0 0 1-1.024.729 1.12 1.12 0 0 1-2.042.067c-1.705-.244-3.51-1.024-5.001-1.93.305 2.17.994 3.687 1.797 3.687.474 0 .908-.533 1.247-1.415a.28.28 0 0 1 .343-.17c.142.043.284.083.426.122a.284.284 0 0 1 .19.384c-.561 1.357-1.341 2.204-2.206 2.204-1.79 0-3.162-3.56-3.083-7.592-.562.43-1.078.917-1.54 1.453a1.11 1.11 0 0 1-.732 1.598c.01.087.038.17.08.247.231.397.875.513 1.76.39a.278.278 0 0 1 .306.218c.037.155.076.31.117.462a.284.284 0 0 1-.24.357c-1.418.178-2.512-.077-2.937-.816a1.635 1.635 0 0 1-.138-1.152 1.115 1.115 0 0 1 .966-1.892c1.064-1.371 2.65-2.555 4.165-3.393-1.973-.802-3.579-.956-3.97-.268-.227.399-.004 1.017.547 1.726a.28.28 0 0 1-.035.374c-.116.11-.23.22-.34.33a.283.283 0 0 1-.428-.028c-.865-1.145-1.193-2.223-.769-2.962.897-1.56 4.681-.934 8.067 1.132-.09-.68-.241-1.35-.453-2.003a1.121 1.121 0 0 1-.97-1.565A.718.718 0 0 0 9 3.006c-.473 0-.906.53-1.244 1.406a.278.278 0 0 1-.342.169 13.713 13.713 0 0 0-.426-.122.284.284 0 0 1-.19-.385C7.358 2.723 8.137 1.881 9 1.881c.465.022.901.232 1.208.582a1.12 1.12 0 0 1 1.069 1.804c.59 1.67.863 3.438.802 5.209 1.665-1.308 2.592-2.62 2.195-3.301-.232-.398-.88-.514-1.77-.39a.279.279 0 0 1-.305-.217 13.93 13.93 0 0 0-.117-.462.284.284 0 0 1 .24-.357c1.423-.18 2.52.075 2.947.815 1.075 1.868-2.335 4.975-4.991 6.438Zm.655-3.89a17.413 17.413 0 0 0-1.919-1.133c-.67.328-1.32.698-1.944 1.109a17.726 17.726 0 0 0-.004 2.185c.615.42 1.255.798 1.919 1.134.671-.327 1.32-.697 1.944-1.108.047-.728.048-1.459.004-2.187Z"
                        fill="#86BFF2"></path></svg
                ><span class="ml-2 text-scale-skyblue">Models</span></button
            ><button
                tabindex="-1"
                class="flex leading-6 items-center rounded-md mb-1 xl:mb-2 text-[10px] w-full font-medium"
                ><svg
                    width="18"
                    height="19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M9 17.068a3.371 3.371 0 0 1-2.25-5.885V4.131a2.25 2.25 0 0 1 4.5 0v7.052A3.371 3.371 0 0 1 9 17.068Zm2.25-3.375c0-.709-.335-1.376-.903-1.8a.555.555 0 0 1-.222-.445V4.131a1.125 1.125 0 1 0-2.25 0v7.317c0 .175-.082.34-.222.445a2.25 2.25 0 1 0 3.597 1.8Zm-1.687-3.375v1.177c.007.34.175.655.452.852a1.688 1.688 0 1 1-2.03 0c.277-.197.445-.512.453-.852v-1.177a.563.563 0 1 1 1.125 0Z"
                        fill="#fff"
                        opacity=".5"></path></svg
                ><span class="ml-2">Quality Lab</span></button
            ><button
                tabindex="-1"
                class="flex leading-6 items-center rounded-md text-[10px] w-full font-medium"
                ><svg
                    width="18"
                    height="10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M15.193 14.825H2.818a.563.563 0 0 1 0-1.125h12.375a.563.563 0 0 1 0 1.125Zm-.562-1.688h-2.25a.563.563 0 0 1-.563-.563V6.388c0-.31.252-.563.563-.563h2.25c.31 0 .562.252.562.563v6.188c0 .31-.252.562-.562.562Zm-4.5-9.563c.31 0 .562.252.562.563v8.438c0 .31-.252.562-.562.562H7.88a.563.563 0 0 1-.563-.563V4.138c0-.31.252-.563.563-.563h2.25Zm-4.5 4.5c.31 0 .562.252.562.563v3.938c0 .31-.251.562-.562.562H3.38a.563.563 0 0 1-.563-.563V8.638c0-.31.252-.563.563-.563h2.25Z"
                        fill="#fff"
                        opacity=".5"></path></svg
                ><span class="ml-2">Metrics</span></button>
        </div><div class="px-3 py-5 xl:px-4 xl:py-6 rounded-r-lg">
            <p class="text-sm leading-6 mb-4">taxis15-fwgtt7</p><div
                class="grid grid-cols-4 gap-2 mt-3 mb-1 xl:mb-2"
            >
                <div>
                    <img
                        alt="A city street"
                        loading="lazy"
                        width="97"
                        height="55"
                        decoding="async"
                        data-nimg="1"
                        class="w-full"
                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet.47ee7160.png&w=128&q=100 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet.47ee7160.png&w=256&q=100 2x"
                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet.47ee7160.png&w=256&q=100"
                        style="color: transparent; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http%3A//www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cfilter id='b' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3C/filter%3E%3Cimage preserveAspectRatio='none' filter='url(%23b)' x='0' y='0' height='100%25' width='100%25' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAAUVBMVEU3MURNR1VGPkCDhagYCy4XDS8cDTQoHTx9aYsbGxmAc3M4PlwjEEloVps1LjhwUpdQPGQmJiojHTBTS1QxIkt+a51JJY+QgIGrmrUaCzs5LztT7dU9AAAAEHRSTlP+2tn5+tX6/v762f7+/tn6OEeqvAAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAADRJREFUCJkFwQcCgCAMALFzYKsglKn4/4eacMp+pE0cuUjr1IWSmyrPxfCzv3wRs2A3df0BKNgB9Qm6f/sAAAAASUVORK5CYII='/%3E%3C/svg%3E&quot;);"
                    />
                </div><div>
                    <img
                        alt="A city street"
                        loading="lazy"
                        width="97"
                        height="55"
                        decoding="async"
                        data-nimg="1"
                        class="w-full"
                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet-1.f31dcd58.png&w=128&q=100 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet-1.f31dcd58.png&w=256&q=100 2x"
                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet-1.f31dcd58.png&w=256&q=100"
                        style="color: transparent; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http%3A//www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cfilter id='b' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3C/filter%3E%3Cimage preserveAspectRatio='none' filter='url(%23b)' x='0' y='0' height='100%25' width='100%25' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAARVBMVEV0b2ckJyWBhqc7MC6KgH1UXG5wbG6UnY5uYlxcXVuVjYt0j5c3MjG/t60vLCykoZtUSE1laXhsZGOBf4JdYnBtemRWbz1sWnmJAAAADnRSTlP8+/r6/f7+/v79+vr+/qoo28UAAAAJcEhZcwAAFiUAABYlAUlSJPAAAAAwSURBVAiZBcGFAQAgDAOw4j5hwP+nksAFP1qPAJHeZltAUzTvWiHpsOEVHE22uPAHJp0B4yeiCrkAAAAASUVORK5CYII='/%3E%3C/svg%3E&quot;);"
                    />
                </div><div>
                    <img
                        alt="A city street"
                        loading="lazy"
                        width="97"
                        height="55"
                        decoding="async"
                        data-nimg="1"
                        class="w-full"
                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet-2.6192a35c.png&w=128&q=100 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet-2.6192a35c.png&w=256&q=100 2x"
                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet-2.6192a35c.png&w=256&q=100"
                        style="color: transparent; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http%3A//www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cfilter id='b' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3C/filter%3E%3Cimage preserveAspectRatio='none' filter='url(%23b)' x='0' y='0' height='100%25' width='100%25' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAARVBMVEV7i5+Ti4msqZ6+t62Ul49dXmGPhHxybGs4MC8jJyRuZGBYXm8uKyuBfoBlaXiinZpRRUtte2VycWRYS09Wbz2SoIlbXFZy77d6AAAACnRSTlP6+v7+/vr6/Pz83a1WpAAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAAC9JREFUCJkFwYcBABAQBLDT+abbf1QJWgWSywUiNp/ShtRhhYiwmbuuc8HGGnzsHyQqAbzZBnTdAAAAAElFTkSuQmCC'/%3E%3C/svg%3E&quot;);"
                    />
                </div><div>
                    <img
                        alt="A city street"
                        loading="lazy"
                        width="97"
                        height="55"
                        decoding="async"
                        data-nimg="1"
                        class="w-full"
                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet-3.ecf9f777.png&w=128&q=100 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet-3.ecf9f777.png&w=256&q=100 2x"
                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstreet-3.ecf9f777.png&w=256&q=100"
                        style="color: transparent; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http%3A//www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cfilter id='b' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3C/filter%3E%3Cimage preserveAspectRatio='none' filter='url(%23b)' x='0' y='0' height='100%25' width='100%25' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAARVBMVEUoJiOapK96gpyPf2mSg3DIva9AQkicl5KDipSdj4NdXmBNV2y3ta6Bdmtoa3usqKHPxbgvLi+Snax9gn90bGFqg6hdYXneAbDgAAAADXRSTlP9/v76+v7+/f36/v7+g/YHdwAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAADBJREFUCJkFwYcBACAIA7A6wQG4/z/VBEAgLiUCU2SLHMy81Xcj3Mbr2RhQXq4qpQ8jugG9ZgG9tgAAAABJRU5ErkJggg=='/%3E%3C/svg%3E&quot;);"
                    />
                </div>
            </div><p class="text-[10px] leading-6 mb-1 xl:mb-2">
                METRICS: Mean Acerage Precision
            </p><table class="text-[10px] leading-6 w-full">
                <thead
                    ><tr
                        ><th
                            class="!font-medium px-2 bg-neutral-800 rounded-l"
                            align="left">CLASS</th
                        ><th
                            class="!font-medium px-2 bg-neutral-800"
                            align="left">TEST</th
                        ><th
                            class="!font-medium px-2 bg-neutral-800"
                            align="left">TRAIN</th
                        ><th
                            class="!font-medium px-2 bg-neutral-800 rounded-r"
                            align="left">VALIDATION</th
                        ><th
                            class="!font-medium px-2 bg-neutral-800 rounded-r"
                            align="left"></th></tr
                    ></thead
                ><tbody
                    ><tr
                        ><td class="px-2 font-medium">All classes</td><td
                            class="px-2 font-medium">10.228%</td
                        ><td class="px-2 font-medium">0.189%</td><td
                            class="px-2 font-medium">17.317%</td
                        ><td class="px-2 font-medium"> </td></tr
                    ></tbody>
            </table>
        </div>
    </div>
</div>
