<section class="pricing-tables section">
    <div class="container px-3">
       <div class="row">
          <div class="col">
             <div class="section-head text-center w-small mx-auto">
                <span class="pre-title small fw-bold text-uppercase">Plans</span>
                <h2 class="section-title">Moru Pricing</h2>
                <p class="section-subtitle">Nulla hendrerit eu velit pellentesque accumsan. Maecenas ac sem hendrerit, ultrices mauris.</p>
             </div>
          </div>
       </div>
       <div class="row pricing-table-wrap mx-auto w-small gx-0 gx-sm-4">
         <!-- Pricing Table 1 Start -->
          <div class="col-12 col-md-6 col-lg-4">
             <div class="pricing-table bg-white rounded mt-4 mt-lg-5 px-4 px-sm-5 py-5">
                <div class="pricing-table-header text-center">
                   <img src="/assets/images/free-plan.svg">
                   <p class="pricing-table-name mb-1 fw-bold text-uppercase mt-3">Basic</p>
                   <span class="pricing-table-intro small">Forever Free</span>
                   <p class="pricing-table-amount mt-4 mb-0 fs-2 fw-bold">Free</p>
                   <span class="pricing-table-term small">per user per month</span>
                </div>
                <div class="pricing-table-body mt-5">
                   <div class="pricing-table-text">
                      <p>Duis sed tempor felis pest. Aenean eget mauris cursus nulla dictum suscipit.</p>
                      <ul class="list-unstyled pricing-table-list mt-4 mb-0">
                         <li>1 Admin</li>
                         <li>1 GB Storage</li>
                         <li>1 Collaborator</li>
                         <li>1 Workspace</li>
                         <li class="feature-na text-muted text-decoration-line-through">Branding</li>
                         <li class="feature-na text-muted text-decoration-line-through">Analytics</li>
                      </ul>
                   </div>
                </div>
                <div class="pricing-table-footer mt-5 text-center">
                   <a href="#" class="btn btn-main-outline w-100  px-3 px-3 py-2">Get Started</a>
                </div>
             </div>
          </div>
          <!-- Pricing Table 1 End -->
          <!-- Pricing Table 2 Start -->
          <div class="col-12 col-md-6 col-lg-4">
             <div class="pricing-table pricing-table-main position-relative bg-white rounded mt-4 mt-lg-5 px-4 px-sm-5 py-5">
                <div class="pricing-table-header text-center">
                   <span class="d-inline-block pricing-table-tag small text-white fw-bold py-2 px-3">Popular</span>
                   <img src="/assets/images/pro-plan.svg">
                   <p class="pricing-table-name text-main mb-1 fw-bold text-uppercase mt-3">Pro</p>
                   <span class="pricing-table-intro small">For Small Agencies</span>
                   <p class="pricing-table-amount mt-4 mb-0 fs-2 fw-bold">$5</p>
                   <span class="pricing-table-term small">per user per month</span>
                </div>
                <div class="pricing-table-body mt-5">
                   <div class="pricing-table-text">
                      <p>Duis sed tempor felis pest. Aenean eget mauris cursus nulla dictum suscipit.</p>
                      <ul class="list-unstyled pricing-table-list mt-4 mb-0">
                         <li>1 Admin</li>
                         <li>10 GB Storage</li>
                         <li>4 Collaborators</li>
                         <li>3 Workspaces</li>
                         <li>Branding</li>
                         <li class="feature-na text-muted text-decoration-line-through">Analytics</li>
                      </ul>
                   </div>
                </div>
                <div class="pricing-table-footer mt-5 text-center">
                   <a href="#" class="btn btn-main w-100  px-3 py-2">Get Started</a>
                </div>
             </div>
          </div>
          <!-- Pricing Table 2 End -->
          <!-- Pricing Table 3 Start -->
          <div class="col-12 col-md-6 col-lg-4">
             <div class="pricing-table bg-white rounded mt-4 mt-lg-5 px-4 px-sm-5 py-5">
                <div class="pricing-table-header  text-center">
                   <img src="/assets/images/business-plan.svg">
                   <p class="pricing-table-name mb-1 fw-bold text-uppercase mt-3">Business</p>
                   <span class="pricing-table-intro small">For Big Players</span>
                   <p class="pricing-table-amount mt-4 mb-0 fs-2 fw-bold">$19</p>
                   <span class="pricing-table-term small">per user per month</span>
                </div>
                <div class="pricing-table-body mt-5">
                   <div class="pricing-table-text">
                      <p>Duis sed tempor felis pest. Aenean eget mauris cursus nulla dictum suscipit.</p>
                      <ul class="list-unstyled pricing-table-list mt-4 mb-0">
                         <li>10 Admins</li>
                         <li>1 TB Storage</li>
                         <li>20 Collaborators</li>
                         <li>10 Workspaces</li>
                         <li>Branding</li>
                         <li>Analytics</li>
                      </ul>
                   </div>
                </div>
                <div class="pricing-table-footer mt-5 text-center">
                   <a href="#" class="btn btn-main-outline w-100  px-3 py-2">Get Started</a>
                </div>
             </div>
          </div>
          <!-- Pricing Table 3 End -->
       </div>
    </div>
 </section>