<section class="bg-gray-100 mb-default py-24">
    <div class="mx-auto max-w-7xl">
        <div class="mx-auto max-w-7xl">
            <div class="pb-default">
                <div class="px-6">
                    <div
                        class="mx-auto max-w-7xl gap-8 grid md:grid-cols-[1.4fr,1fr]"
                    >
                        <div
                            class="flex flex-col bg-white border border-gray-200 lg:gap-10 lg:p-8 overflow-hidden rounded-xl shadow-services"
                        >
                            <div
                                class="overflow-hidden [&_>_div]:h-full bg-gray-100 grow lg:rounded-xl"
                            >
                                <div class="flex items-center flex-col">
                                    <picture
                                        class="astro-imagetools-picture astro-imagetools-picture-87533D89"
                                        style="position: relative; display: inline-block; width: 100%; height: 100%; --z-index: 1; --opacity: 0;"
                                    >
                                        <source
                                            height="753"
                                            sizes="(min-width: 1280px) 1280px, 100vw"
                                            srcset="/_astro/design-systems-hp@640w.59c092d2.webp 640w, /_astro/design-systems-hp@1067w.57b278c9.webp 1067w, /_astro/design-systems-hp@1280w.55d84387.webp 1280w"
                                            type="image/webp"
                                            width="1280"
                                        />
                                        <img
                                            alt="Design systems example of design tokens from a project Thinkmill has worked on."
                                            src="/_astro/design-systems-hp@1280w.c5f9596e.png"
                                            class="astro-imagetools-img h-full object-cover w-full"
                                            decoding="async"
                                            height="753"
                                            loading="lazy"
                                            onload='
                                            parentElement.style.setProperty("--z-inde x&q uot;,1),parentElement.style.setProperty(&quo t;--opacit    y", 0)
                                            '
                                            sizes="(min-width: 1280px) 1280px, 100vw"
                                            srcset="https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/1024"
                                            style="display:inline-block;overflow:hidden;vertical-align:middle;width:100%;height:100%"
                                            width="1280"
                                        />
                                    </picture>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3 lg:p-0 p-6 sm:p-8">
                                <p
                                    class="font-medium text-sm text-tm-red-brand"
                                >
                                    Building Products that scale
                                </p>
                                <h3 class="mb-0 font-semibold h3">
                                    Web App Development
                                </h3><div class="body-default mb-3">
                                    <p>
                                        We build thinigs that work. We’ve
                                        delivered web apps for various use cases. 
                                        From quoting tools, enterprise dashboards, 
                                        to e-commerce platforms, we’ve got you covered.
                                        Find out more about our web app development services
                                        <a href="/product-engineering"> here</a>.
                                    </p>
                                </div>
                                <a
                                    href="/product-engineering"
                                    class="body-default read-more">Read more</a
                                >
                            </div>
                        </div>
                        <div
                            class="flex bg-white border border-gray-200 lg:gap-10 lg:p-8 overflow-hidden rounded-xl shadow-services flex-col-reverse"
                        >
                            <div
                                class="overflow-hidden [&_>_div]:h-full bg-gray-100 grow lg:rounded-xl"
                            >
                                <div class="flex items-center flex-col">
                                    <style></style>
                                    <picture
                                        class="astro-imagetools-picture astro-imagetools-picture-0880AAEA"
                                        style="position: relative; display: inline-block; width: 100%; height: 100%; --z-index: 1; --opacity: 0;"
                                    >
                                        <source
                                            height="753"
                                            sizes="(min-width: 1280px) 1280px, 100vw"
                                            srcset="https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/1024"
                                            type="image/webp"
                                            width="1280"
                                        />
                                        <img
                                            alt="Product development example of product built by the Thinkmill team."
                                            src="/_astro/product-hp@1280w.48736516.png"
                                            class="astro-imagetools-img h-full object-cover w-full"
                                            decoding="async"
                                            height="753"
                                            loading="lazy"
                                            onload=`parentElement.style.setProperty("--z-index& quo t;,1),parentElement.style.setProperty(" --opacity",0)`
                                            sizes="(min-width: 1280px) 1280px, 100vw"
                                            srcset="https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/1024"
                                            style="display:inline-block;overflow:hidden;vertical-align:middle;width:100%;height:100%"
                                            width="1280"
                                        />
                                    </picture>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3 lg:p-0 p-6 sm:p-8">
                                <p
                                    class="font-medium text-sm text-tm-red-brand"
                                >
                                    Functional products. Cross-functional teams.
                                </p>
                                <h3 class="mb-0 font-semibold h3">
                                    Product Development
                                </h3>
                                <div class="body-default mb-3">
                                    <p>
                                        Our team of 35+ product designers and
                                        engineers can take an idea from concept
                                        to launch across web and mobile. We’ve
                                        shipped products for <a
                                            href="/work/reckon">Reckon</a
                                        >, <a href="/work/brighte">Brighte</a>, <a
                                            href="/work/vocal">Vocal</a
                                        >, and more.
                                    </p>
                                </div>
                                <a
                                    href="/services/product-engineering-engineering"
                                    class="body-default read-more">Read more</a
                                >
                            </div>
                        </div>
                    </div>
                    <div
                        class="mx-auto max-w-7xl gap-8 grid md:grid-cols-[1fr,1.4fr] mt-8"
                    >
                        <div
                            class="flex flex-col bg-white border border-gray-200 lg:gap-10 lg:p-8 overflow-hidden rounded-xl shadow-services"
                        >
                            <div
                                class="overflow-hidden [&_>_div]:h-full bg-gray-100 grow lg:rounded-xl"
                            >
                                <div class="flex items-center flex-col">
                                    <picture
                                        class="astro-imagetools-picture astro-imagetools-picture-7D4E5820"
                                        style="position: relative; display: inline-block; width: 100%; height: 100%; --z-index: 1; --opacity: 0;"
                                    >
                                        <source
                                            height="753"
                                            sizes="(min-width: 1280px) 1280px, 100vw"
                                            srcset="https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/1024"
                                            type="image/webp"
                                            width="1280"
                                        />
                                        <img
                                            alt="Team augmentation exmaple of some teams Thinkmill have worked with including Atlassian, Westfield, the Australian Government, ABC, ANZ, Koala, Qantas, Vocal, Dovetail, Reckon"
                                            src="/_astro/team-augmentation-hp@1280w.354c83d3.png"
                                            class="astro-imagetools-img h-full object-cover w-full"
                                            decoding="async"
                                            height="753"
                                            loading="lazy"
                                            onload=`parentElement.style.setProperty("--z-  i ndex&  q u ot; ,1  ),p arentElement.style.setProperty("-- opaci  ty",0)`
                                            sizes="(min-width: 1280px) 1280px, 100vw"
                                            srcset="https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/1024"
                                            style="display:inline-block;overflow:hidden;vertical-align:middle;width:100%;height:100%"
                                            width="1280"
                                        />
                                    </picture>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3 lg:p-0 p-6 sm:p-8">
                                <p
                                    class="font-medium text-sm text-tm-red-brand"
                                >
                                    Our experience. Your team.
                                </p>
                                <h3 class="mb-0 font-semibold h3">
                                    High Perfomance Distributed Backend Solutions
                                </h3>
                                <div class="body-default mb-3">
                                    <p>
                                        We employ Golang's simplicity, efficiency, and strong support for concurrent programming to build powerful and scalable backend systems.


                                        
                                    </p>
                                </div><a
                                    href="/services/augmentation"
                                    class="body-default read-more">Read more</a
                                >
                            </div>
                        </div>
                        <div
                            class="flex bg-white border border-gray-200 lg:gap-10 lg:p-8 overflow-hidden rounded-xl shadow-services flex-col-reverse"
                        >
                            <div
                                class="overflow-hidden [&_>_div]:h-full bg-gray-100 grow lg:rounded-xl"
                            >
                                <div class="flex items-center flex-col">
                                    <picture
                                        class="astro-imagetools-picture astro-imagetools-picture-FB719754"
                                        style="position: relative; display: inline-block; width: 100%; height: 100%; --z-index: 1; --opacity: 0;"
                                        ><source
                                            height="753"
                                            sizes="(min-width: 1280px) 1280px, 100vw"
                                            srcset="https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/1024"
                                            type="image/webp"
                                            width="1280"
                                        /><img
                                            alt="API Platforms demonstration of graphQL query"
                                            src="/_astro/api-platforms-hp@1280w.38fef3f3.png"
                                            class="astro-imagetools-img h-full object-cover w-full"
                                            decoding="async"
                                            height="753"
                                            loading="lazy"
                                            onload=`parentElement.style.setProperty("--z-index "  ;  ,1 )  ,parentElement.style.setProperty("--op a  city",0)`
                                            sizes="(min-width: 1280px) 1280px, 100vw"
                                            srcset="https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/1024"
                                            style="display:inline-block;overflow:hidden;vertical-align:middle;width:100%;height:100%"
                                            width="1280"
                                        />
                                    </picture>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3 lg:p-0 p-6 sm:p-8">
                                <p
                                    class="font-medium text-sm text-tm-red-brand"
                                >
                                    Behind every great API.
                                </p>
                                <h3 class="mb-0 font-semibold h3">
                                    Bulletproof APIs 
                                </h3>
                                <div class="body-default mb-3">
                                    <p>
                                        We build APIs that are fast, reliable, and easy to use. It's our job to accomodate for every error, bad request, and user fumble. We hand over or refactor endpoints and include the tests. So you can be assured it works in every scenario. 
                                    </p>
                                </div>
                                <a
                                    href="/services/api-platforms"
                                    class="body-default read-more">Read more</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .astro-imagetools-picture-87533D89 {
        --opacity: 1;
        --z-index: 0;
    }
    .astro-imagetools-picture-87533D89 img {
        z-index: 1;
        position: relative;
    }
    .astro-imagetools-picture-87533D89::after {
        inset: 0;
        content: "";
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        transition: opacity 1s;
        opacity: var(--opacity);
        z-index: var(--z-index);
    }
    .astro-imagetools-picture-87533D89 img {
        object-fit: cover;
        object-position: 50% 50%;
    }
    .astro-imagetools-picture-87533D89::after {
        background-size: cover;
        background-image: url("https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/public");
        background-position: 50% 50%;
    }
    .astro-imagetools-picture-FB719754 {
        --opacity: 1;
        --z-index: 0;
    }
    .astro-imagetools-picture-FB719754 img {
        z-index: 1;
        position: relative;
    }
    .astro-imagetools-picture-FB719754::after {
        inset: 0;
        content: "";
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        transition: opacity 1s;
        opacity: var(--opacity);
        z-index: var(--z-index);
    }
    .astro-imagetools-picture-FB719754 img {
        object-fit: cover;
        object-position: 50% 50%;
    }
    .astro-imagetools-picture-FB719754::after {
        background-size: cover;
        background-image: url("https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/1024");
        background-position: 50% 50%;
    }
    .astro-imagetools-picture-7D4E5820 {
        --opacity: 1;
        --z-index: 0;
    }
    .astro-imagetools-picture-7D4E5820 img {
        z-index: 1;
        position: relative;
    }
    .astro-imagetools-picture-7D4E5820::after {
        inset: 0;
        content: "";
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        transition: opacity 1s;
        opacity: var(--opacity);
        z-index: var(--z-index);
    }
    .astro-imagetools-picture-7D4E5820 img {
        object-fit: cover;
        object-position: 50% 50%;
    }
    .astro-imagetools-picture-7D4E5820::after {
        background-size: cover;
        background-image: url("https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/1024");
        background-position: 50% 50%;
    }
    .astro-imagetools-picture-0880AAEA {
        --opacity: 1;
        --z-index: 0;
    }
    .astro-imagetools-picture-0880AAEA img {
        z-index: 1;
        position: relative;
    }
    .astro-imagetools-picture-0880AAEA::after {
        inset: 0;
        content: "";
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        transition: opacity 1s;
        opacity: var(--opacity);
        z-index: var(--z-index);
    }
    .astro-imagetools-picture-0880AAEA img {
        object-fit: cover;
        object-position: 50% 50%;
    }
    .astro-imagetools-picture-0880AAEA::after {
        background-size: cover;
        background-image: url("https://imagedelivery.net/WXn9Dtsu6BoZXtzjpes4qA/72674294-1219-42da-8abe-f7f1c08d7100/public");
        background-position: 50% 50%;
    }
</style>
